<!DOCTYPE html>
<html lang="he" dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - The World Of Recipes</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body dir="rtl">
    <header>
        <nav class="navbar">
            <a asp-page="/Index"><i class="fa fa-home"></i> בית</a>
            <a asp-page="/Recipes/Index"><i class="fa fa-utensils"></i> מתכונים</a>
            <a asp-page="/Categories/Index"><i class="fa fa-list"></i> קטגוריות</a>
            <a asp-page="/Recipes/Favorites"><i class="fa fa-heart"></i> האהובים שלי</a>
            <a asp-page="/Privacy"><i class="fa fa-info-circle"></i> אודות</a>
            @if (User.Identity.IsAuthenticated)
            {
                <form method="post" asp-area="" asp-page="/Auth/Logout" class="d-inline ms-2">
                    <button type="submit" class="btn btn-danger btn-sm"><i class="fa fa-sign-out-alt"></i> התנתקות</button>
                </form>
                <span class="fw-bold text-primary fs-5 ms-2">שלום @User.Identity.Name</span>
            }
            else
            {
                <a asp-page="/Auth/Login" class="btn btn-outline-primary ms-2"><i class="fa fa-user"></i> התחברות</a>
            }
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted"></footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

