@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link rel="stylesheet" href="css/site.css" />

<h1 class="card-text">ברוכים הבאים לאתר המתכונים של אלה </h1>
<p class="card-text">
    באתר זה תוכלו למצוא מתכונים קלילים וטעימים תוכלו לדרג ולסמן מתכונים אהובים ולהעביר את הזמן במשחקים כיפיים
</p>

<div class="text-center">
   <p><a asp-page="/Auth/Login">Login</a></p>
   <p><a asp-page="/Auth/Register">Register</a></p>
</div>

<img src="~/images/cooking.png" alt="בישול ואפייה" class="small-image" />
