@page
@model TheWorldOfRecipes.Pages.Auth.LoginModel
@{
    ViewData["title"] = "Login";
}
<h2>Login</h2>
<form method="post">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="UserName" required />
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="Password" required />
    </div>
    <button type="submit">Login</button>
</form>
<div class="text-center mt-3">
    <a class="btn btn-outline-primary" href="/Auth/Register">להרשמה</a>
</div>

@if (Model.ErrorMessage != null){
    <p style="color:red">@Model.ErrorMessage</p>
}



