@page
@model TheWorldOfRecipes.Pages.Auth.RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h2>Register</h2>

<form method="post"> @* קליטת הנתונים מהשרת *@
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="UserName" required /> @* חובה *@
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="Password" required />
    </div>
    <div>
        <label for="firstname">FirstName:</label>
        <input type="text" id="firstname" name="FirstName" required />
    </div>
    <div>
        <label for="lastname">LastName:</label>
        <input type="text" id="lastname" name="LastName" required />
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="text" id="email" name="Email" required />
    </div>
    <button type="submit">Register</button>
</form>

@if (Model.ErrorMessage != null)
{
    <p style="color:red">@Model.ErrorMessage</p>
}