html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: lavender;
}

.text-center {
    text-align: right;
    direction: rtl;
    font-family: 'Alef', sans-serif;
    color: darkblue;
    padding: 20px;
    border-radius: 15px;
}

.small-image {
    width: 30%; /* מקטין את התמונה ל-50% מהרוחב */
    height: auto; /* שומר על פרופורציות */
    border-radius: 15px; /* פינות מעוגלות */
    margin-bottom: 20px; /* מרווח למטה */
}
.card-text {
    color:darkmagenta;
    text-align: right;
    direction: rtl;
    font-family: 'Alef', sans-serif;
}
.titleofweb {
    color: orange;
    font-size: 18px;

}
.divone {
    text-align: right; /* יישור הפסקה לימין */
    margin-right: 20px; /* ריווח חיצוני מימין */
    padding-left: 400px; /* ריווח פנימי מימין */
}
.categories-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.category-item {
    width: 100x;
    text-align: center;
    margin-bottom: 20px;
}

.category-card {
    width: 150px; /* שנה את הערך לפי הצורך */
    height: 150px; /* שנה את הערך לפי הצורך */
    margin: 10px;
    display: inline-block;
    vertical-align: top;
}

.category-img {
    width: 100%;
    height: 100px; /* שנה את הערך לפי הצורך */
    object-fit: cover;
    border-radius: 8px;
}


.category-name {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}
.recipe-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

