@page
@model TheWorldOfRecipes.Pages.RatingsAndComments.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>הוספת תגובה ודירוג</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="RatingAndComment.RecipeID" />

            <div class="form-group">
                <label asp-for="RatingAndComment.Comment" class="control-label"></label>
                <textarea asp-for="RatingAndComment.Comment" class="form-control"></textarea>
                <span asp-validation-for="RatingAndComment.Comment" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>דירוג:</label>
                <div>
                    @for (int i = 1; i <= 5; i++)
                    {
                        <label style="margin-left: 8px;">
                            <input type="radio" asp-for="RatingAndComment.Rating" value="@i" />
                            <span style="color: gold; font-size: 1.2em;">&#9733;</span>
                            @i
                        </label>
                    }
                </div>
                <span asp-validation-for="RatingAndComment.Rating" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@* @section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
} *@
@section Scripts {
    <script>
        await Html.RenderPartialAsync("_ValidationScriptsPartial")
        window.addEventListener('DOMContentLoaded', function () {
            var showLoginAlert = '@TempData["ShowLoginAlert"]';
            if (showLoginAlert === 'True') {
                alert('אי אפשר לכתוב תגובה ולדרג אם אינך משתמש רשום. תועבר/י לדף ההתחברות.');
                window.location.href = '/Auth/Login';
            }

            var welcomeUser = '@TempData["WelcomeUser"]';
            if (welcomeUser) {
                alert('היי ' + welcomeUser + ' ברוך הבא לאתר');
            }
        })

    </script>
}

