@page
@model TheWorldOfRecipes.Pages.RatingsAndComments.DeleteModel

@{
    ViewData["Title"] = "מחיקת תגובה";
}

<h1>מחיקת תגובה</h1>

<h3>האם את/ה בטוח/ה שברצונך למחוק את התגובה?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">דירוג</dt>
        <dd class="col-sm-10">@Model.RatingAndComment.Rating</dd>
        <dt class="col-sm-2">תגובה</dt>
        <dd class="col-sm-10">@Model.RatingAndComment.Comment</dd>
    </dl>
    <form method="post">
        <input type="hidden" asp-for="RatingAndComment.RatingAndCommentID" />
        <input type="hidden" asp-for="RatingAndComment.UserID" />
        <input type="hidden" asp-for="RatingAndComment.RecipeID" />
        <button type="submit" class="btn btn-danger">מחק</button>
        <a asp-page="/Recipes/Details" asp-route-id="@Model.RatingAndComment.RecipeID" class="btn btn-secondary">חזור למתכון</a>
    </form>
</div>
@* <div>
    <form method="post">
        <input type="hidden" asp-for="RatingAndComment.RatingAndCommentID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
 *@